*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
.wrapper {
  height: 100%;
}

body {
  max-width:90rem;
  margin: 0 auto;
  background-color: rgba(238,240,248,255);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
}

#logo{
  display: inline;
  white-space:nowrap
}
nav {
  background-color: white;
  color: #000000;
  line-height: 3;
  font-size: 1.2rem;
  min-height: 4.3rem;
}

.nav-background{
  background-color: white;
  left: 0;
  position:absolute;
  min-width: 100vw;
  min-height: 4.3rem;


}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

.nav :hover {
  background-color: rgb(255, 255, 255);
  color: rgba(226, 12, 12, 0.658);  
}

.current-page {
  color: rgba(226, 12, 12, 0.658);
  border-bottom: rgba(226, 12, 12, 0.658) solid 5px;
}

header {
  height: 150px;
  padding-top: 4em;
  text-align: center;
  font-size: 1.5rem;
}


select {
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #aaa;
  width: 100%;
  padding: 10px;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

select::-ms-expand {
  display: none;
}

select:hover {
  border-color: #888;
}

select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

select option {
  font-weight: normal;
  width: 100%;
}

input {
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #aaa;
  width: 100%;
  padding: 3px;
}

#filter label * {
  margin: 0px auto;
}

.wrapper {
  background-color: rgba(238,240,248,255);
}

.card.m-auto,
.m-auto {
  margin: 0 auto;
  width: 500px;
}

form .workout-type,
form .cardio-form div,
form .resistance-form div {
  display: flex;
  margin-top: 30px;
}

form label {
  width: 150px;
  margin-top: 0.7rem;
}

form > button {
  float: right;
  margin-top: 20px;
}

form::after {
  content: " ";
  display: block;
  clear: both;
}

.d-none {
  display: none !important;
}

.exercise .ui.card {
  width: 400px;
  max-width: 600px;
}

.exercise .buttons {
  margin-top: 20px;
  display: flex;
}

.exercise .buttons button {
  width: 100%;
}

button {
  display: block;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #aaa;
  background-color: white;
}

#toast {
  border-radius: 4px;
  border-width: 1px;
  font-size: 13px;
  line-height: 19.5px;
  margin: 0px 0px 16px;
  padding: 12px 59.5px 12px 20px;
  text-align: left;
  width: 300px;
  min-height: 80px;
  top: 10px;
  right: -320px;
  opacity: 0;
  transition: all 0.5s;
}

#toast.success {
  opacity: 1;
  right: 10px;
  background-color: hsl(94, 40%, 86%);
  color: hsl(94, 90%, 16%);
  transition: all 1.2s;
}

.workout-type,
form .cardio-form div,
form .resistance-form div {
  display: flex;
  margin-top: 30px;
}

form label {
  width: 150px;
  margin-top: 0.7rem;
}

form > button {
  float: right;
  margin-top: 20px;
}

form::after {
  content: " ";
  display: block;
  clear: both;
}

.d-none {
  display: none;
}


#toast {
  border-radius: 4px;
  border-width: 1px;
  font-size: 13px;
  line-height: 19.5px;
  margin: 0px 0px 16px;
  padding: 12px 59.5px 12px 20px;
  text-align: left;
  width: 300px;
  min-height: 80px;
  position: fixed;
  top: 10px;
  right: -320px;
  opacity: 0;
  transition: all 0.5s;
}

#toast.success {
  right: 10px;
  background-color: hsl(94, 40%, 86%);
  color: hsl(94, 90%, 16%);
  transition: all 0.5s;
}
.workout-type,
form .cardio-form div,
form .resistance-form div {
  display: flex;
  margin-top: 30px;
}

form label {
  width: 150px;
  margin-top: 0.7rem;
}

form > button {
  float: right;
  margin-top: 20px;
}

form::after {
  content: " ";
  display: block;
  clear: both;
}

.d-none {
  display: none;
}

#toast {
  border-radius: 4px;
  border-width: 1px;
  font-size: 13px;
  line-height: 19.5px;
  margin: 0px 0px 16px;
  padding: 12px 59.5px 12px 20px;
  text-align: left;
  width: 300px;
  min-height: 80px;
  position: fixed;
  top: 10px;
  right: -320px;
}

#toast.success {
  background-color: hsl(94, 40%, 86%);
  color: hsl(94, 90%, 16%);
  animation-name: toast;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.d-none {
  display: none;
}

.btn,
button {
  display: block;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #aaa;
  padding: 10px;
}

form > button {
  margin: 5px;
  margin-top: 20px;
}

#toast {
  border-radius: 4px;
  border-width: 1px;
  font-size: 13px;
  line-height: 19.5px;
  margin: 0px 0px 16px;
  padding: 12px 59.5px 12px 20px;
  text-align: left;
  width: 300px;
  min-height: 80px;
  position: fixed;
  top: 10px;
  right: -320px;
  opacity: 0;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.col {
  flex: 1;
}

#toast.success {
  background-color: hsl(94, 40%, 86%);
  color: hsl(94, 90%, 16%);
}

.prev-workout h3 {
  font-size: 2rem;
  width: 100%;
}

.prev-workout p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.workout .card {
  width: 350px;
}

.prev-workout button {
  margin: 10px;
}

.new-workout {
  display: none;
}

.mt {
  margin-top: 20px;
}

.workout .ui.card {
  margin: 1em auto;
}

.prev-workout {
  text-align: center;
}

.prev-workout .buttons {
  display: flex;
  height: 75px;
  margin-top: 30px;
}

.buttons .ui.button {
  margin: 0;
  width: 50%;
}

.ui.card h2 {
  padding: 10px;
}

.buttons .ui.button:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.buttons .ui.button:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}

.workout-type,
.cardio-form,
.resistance-form {
  padding: 10px;
} 

.navbar-toggler img{
  max-height:2em;
}

#navbar-brand{
    margin-top:2px;
    color: rgba(226, 12, 12, 0.658);
}

#navbar-brand img{
    max-height:3em;
    height: auto;
    width: auto;
    bottom:10px;
    display:inline
  }
  
#navbar-brand h1 {
display:inline;

font-size: 2.5rem;
white-space:nowrap
}

.navbar {
    padding: 0 0.5em;
}

.nav-item{
  margin: 0 0.5em;
  padding-bottom: 4px;
}

.right{

  height: 3em;
}

ul{
  position:relative;
  float:right
}
.navbar-collapse{
  text-align:right;
}
div.wrapper.workout {
  background-color: rgba(238,240,248,255);
  height:max-content
}

.rest-workout-container {
  min-width: 100%;
}

.prev-workout-content{
  display: block;
  padding: 5px;
  
}

.prev-workout-content span strong{
  position: relative;
}

.data {
  position: absolute;
  left:10rem
}


.card{
  background-color:rgb(255, 253, 248);
  padding:  0  0 10px  0 ;
}

.card-header{
  font-size:1.3rem;
  padding-top: 0;
  color:rgb(255, 255, 255);
  background-color:rgba(255, 94, 0, 0.795);
  /* background-color: rgba(226, 12, 12, 0.658) */
}

.card-header1 {
  font-size:1.5rem;
  color:rgb(253, 117, 27)
}

.card-header-last {
  font-size:1.5rem;
  color:rgb(253, 117, 27);
  position:relative;
}
.workout-data {
  margin-left: 150px;
}

.text-center{
  text-align:center;
}

.jumbotron {
  padding:20px;
  top: 50%!important;
  margin: 0.5rem;
}

.jumbotron-workouts {
  background:linear-gradient(to left bottom, #fcadad, #ffe9e9)
  /* background:linear-gradient(to left bottom, rgba(255, 90, 90, 0.582), rgba(236, 64, 64, 0.075) 70.71%) */
}

.jumbotron-dashboard {
  background:linear-gradient(to left bottom, rgba(89, 222, 255, 0.582), rgba(12, 183, 226, 0.096) 70.71%)
}

.jumbotron-add {
  background:linear-gradient(217deg, rgba(255, 230, 0, 0.705), rgba(255, 230, 0, 0.171) 70.71%)
}
.jumbotron-new {
  background:linear-gradient(217deg, rgba(255, 153, 0, 0.582), rgba(255, 153, 0, 0.089) 70.71%)
}

.delete-btn {
  float: right;
  padding:3px 0 3px 3px;
  margin:5px 5px 0 0;
  font-size: 0.8rem;
  color:rgb(223, 0, 0);
  border:rgb(223, 0, 0) 1px solid;
  border-radius:5px;

}
.delete-btn:hover {
  cursor: pointer;
  color:white;
  background-color:rgb(216, 3, 3);
  border:rgb(216, 3, 3) 1px solid;
}


#filter {
  margin-left: 3rem;
  margin-bottom: 1rem;
  padding:1rem;
}

ul{
  margin-right: 0rem;
  margin-left:auto;
}

#workout-content{
  margin-top:2rem;
}

#filter-submit{
  margin: 10px auto 0px;
}
@keyframes toast {
  50% {
    opacity: 1;
    right: 10px;
  }
  100% {
    opacity: 0;
    right: -320px;
  }
}

@media only screen and (max-width: 345px) {
  .navbar-toggler {
   display: inline;
  }
}

@media only screen and (max-width: 767px) {
  .card-header {
    text-align: center;
  }
  
  .delete-btn {
    float: right;
    padding:3px;
    margin:0 5px 5px 0;
  }

}

/* when the menu toggle appears */
@media only screen and (max-width: 989px) {
    .navbar-nav{
        margin: 0 auto;
        width:100%
    }
    ul{
      width:100vw;
    }
    li {
      text-align:center;
      width:100vw;
    }
    li a{
      text-align:center;
          position: relative;
      width: 100%;
      margin-right:auto;
    }
    .nav-item{
      text-align:center;
      width:100vw;
    }
    .current-page {
      color: rgba(226, 12, 12, 0.658);
      border-bottom: none;
    }

    #filter {
      display: inline-block;
      margin: 2rem 10vw;
      width:80vw;
    }

}

