*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face{
  font-family: "Poppin";
  src: url("fonts/font-name.ttf") format("truetype");
}

html,
.wrapper {
  height: 100%;
}

body {
  max-width:90rem;
  margin: 0 auto;
  background-color: #fefffb;
  font-family: Poppins, Helvetica, "sans-serif";
  overflow: overlay !important;
}

#logo{
  display: inline;
  white-space:nowrap
}
nav {
  background-color: #f8f4f4;
  color: #000000;
  line-height: 3;
  font-size: 1.2rem;
  min-height: 4.3rem;
}

.nav-background{
  background-color: #f8f4f4;
  left: 0;
  position:absolute;
  min-width: 100vw;
  min-height: 4.3rem;


}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

.nav :hover {
  background-color: rgb(255, 255, 255);
  color: #f2711c;  
}

.current-page {
  color: #f2711c;
  border-bottom: #f2711c solid 5px;
}

header {
  height: 150px;
  padding-top: 4em;
  text-align: center;
  font-size: 1.5rem;
}


select {
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #aaa;
  width: 100%;
  padding: 3px;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    /* linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); */
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

select::-ms-expand {
  display: none;
}

select:hover {
  border-color: #888;
}

/* select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.7);
  color: #222;
  outline: none;
} */

select option {
  font-weight: normal;
  width: 100%;
}

input {
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #aaa;
  width: 100%;
  padding: 3px;
}

input :focus {
  box-shadow: green;
}

#filter label * {
  margin: 0px auto;
}

.card.m-auto,
.m-auto {
  margin: 0 auto;
  width: 500px;
}

form .workout-type,
form .cardio-form div,
form .resistance-form div {
  display: flex;
  margin-top: 30px;
}

form label {
  width: 150px;
  margin-top: 0.7rem;
}

form > button {
  float: right;
  margin-top: 20px;
}

form::after {
  content: " ";
  display: block;
  clear: both;
}

.d-none {
  display: none !important;
}

.exercise .ui.card {
  width: 400px;
  max-width: 600px;
}

.exercise .buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around ;
}

.exercise .buttons  button{
  margin-right: 0px;
  min-width:13rem;
  margin-bottom: 0.5rem;
}


button {
  display: block;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #aaa;
  background-color: white;
}

.complete button {
  margin:10px
}

#toast {
  border-radius: 4px;
  border-width: 1px;
  font-size: 13px;
  line-height: 19.5px;
  margin: 0px 0px 16px;
  padding: 12px 59.5px 12px 20px;
  text-align: left;
  width: 300px;
  min-height: 80px;
  top: 10px;
  right: -320px;
  opacity: 0;
  transition: all 0.5s;
}

#toast.success {
  opacity: 1;
  right: 10px;
  background-color: hsl(94, 40%, 86%);
  color: hsl(94, 90%, 16%);
  transition: all 1.2s;
}

.workout-type,
form .cardio-form div,
form .resistance-form div {
  display: flex;
  margin-top: 30px;
}

form label {
  width: 150px;
  margin-top: 0.7rem;
}

form > button {
  float: right;
  margin-top: 20px;
}

form::after {
  content: " ";
  display: block;
  clear: both;
}

.d-none {
  display: none;
}


#toast {
  border-radius: 4px;
  border-width: 1px;
  font-size: 13px;
  line-height: 19.5px;
  margin: 0px 0px 16px;
  padding: 12px 59.5px 12px 20px;
  text-align: left;
  width: 300px;
  min-height: 80px;
  position: fixed;
  top: 10px;
  right: -320px;
  opacity: 0;
  transition: all 0.5s;
}

#toast.success {
  right: 10px;
  background-color: hsl(94, 40%, 86%);
  color: hsl(94, 90%, 16%);
  transition: all 0.5s;
}
.workout-type,
form .cardio-form div,
form .resistance-form div {
  display: flex;
  margin-top: 30px;
}

form label {
  width: 150px;
  margin-top: 0.7rem;
}

form > button {
  float: right;
  margin-top: 20px;
}

form::after {
  content: " ";
  display: block;
  clear: both;
}

.d-none {
  display: none;
}

#toast {
  border-radius: 4px;
  border-width: 1px;
  font-size: 13px;
  line-height: 19.5px;
  margin: 0px 0px 16px;
  padding: 12px 59.5px 12px 20px;
  text-align: left;
  width: 300px;
  min-height: 80px;
  position: fixed;
  top: 10px;
  right: -320px;
}

#toast.success {
  background-color: hsl(94, 40%, 86%);
  color: hsl(94, 90%, 16%);
  animation-name: toast;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.d-none {
  display: none;
}

.btn,
button {
  display: block;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #aaa;
  padding: 10px;
}

form > button {
  margin: 5px;
  margin-top: 20px;
}

#toast {
  border-radius: 4px;
  border-width: 1px;
  font-size: 13px;
  line-height: 19.5px;
  margin: 0px 0px 16px;
  padding: 12px 59.5px 12px 20px;
  text-align: left;
  width: 300px;
  min-height: 80px;
  position: fixed;
  top: 10px;
  right: -320px;
  opacity: 0;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.col {
  flex: 1;
}

#toast.success {
  background-color: hsl(94, 40%, 86%);
  color: hsl(94, 90%, 16%);
}

.prev-workout h3 {
  font-size: 2rem;
  width: 100%;
}

.prev-workout p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.prev-workout {
  background: linear-gradient(to bottom, #303036f1 80%, #ccccccf1  );
}

.workout .card {
  width: 350px;
}

.new-workout {
  display: none;
}

.mt {
  margin-top: 20px;
}

.workout .ui.card {
  margin: 1rem auto;
}

[id^="last"] {
  margin: auto !important
}
.prev-workout h3{
  text-align: center;
}

.prev-workout .buttons {
  display: flex;
  font-size: 1rem;
  align-items: center;
  justify-content: flex-end
}


.ui.card h2 {
  padding: 10px;
}

.workout-type,
.cardio-form,
.resistance-form {
  padding: 10px;
} 

.navbar-toggler img{
  max-height:2em;
}

#navbar-brand{
    margin-top:5px;
    /* color: #f2711c */
    color: #f2721cd5
}

#navbar-brand img{
    max-height:3em;
    height: auto;
    width: auto;
    bottom:10px;
    display:inline
  }
  
#navbar-brand h1 {
display:inline;

font-size: 2.5rem;
white-space:nowrap
}

.navbar {
    padding: 0 0.5em;
}

.nav-item{
  margin: 0 0.5em;
  padding-bottom: 4px;
}

.right{
  height: 3em;
}

ul{
  position:relative;
  float:right
}
.navbar-collapse{
  text-align:right;
}

div.wrapper.workout {
  /* background-color: rgba(238,240,248,255); */
  height:max-content;
  background-color: #fefffb;

}

.last-workout-container,
.rest-workout-container {
  min-width: 100%;
}

.prev-workout-content{
  display: block;
  padding-left: 0.6rem;
  margin:0;
}


.prev-workout-content span strong{
  position: relative;
}

.data {
  position: absolute;
  left: 13rem
}


.card{
  background-color:rgb(255, 253, 248);
  padding:  0  0 10px  0 ;
}

.card-header{
  font-size:1.3rem;
  padding: 5px 2rem;
  /* color:rgb(65, 65, 65); */
  color:white;
  /* background:linear-gradient(to top, #ff999977, #ffd0d0) */
  /* background:linear-gradient(to top, #5fca83d2, #53dd7fd0) */
  background:linear-gradient(to top, #303036f1, #303036e3);
  /* background-color: rgba(226, 12, 12, 0.658) */
}


.card-header-last {
  font-size:1.5rem;
  color:rgb(253, 117, 27);
  position:relative;
}


.text-center{
  text-align:center;
}

.jumbotron {
  padding:20px;
  top: 50%!important;
  margin: 0.5rem;
}

.jumbotron-workouts {
  /* background:linear-gradient(to left bottom, #fc1010a6, #ffffff) */
  background:linear-gradient(to bottom, #cefddfd2, #8ee9ac8e)
  /* background:linear-gradient(to left bottom, rgba(255, 90, 90, 0.582), rgba(236, 64, 64, 0.075) 70.71%) */
}

.jumbotron-dashboard {
  background:linear-gradient(to bottom, #cefdfdd2, #8ee6e98e)
}

.jumbotron-add {
  background:linear-gradient(217deg, rgba(255, 230, 0, 0.705), rgba(255, 230, 0, 0.171) 70.71%)
}

.delete-btn {
  z-index:1;
  position:absolute;
  right:0;
  width:fit-content;
  padding:5px 4px 5px 4px;
  font-size: 2rem;
  /* color:rgba(196, 12, 12, 0.473); */
  color:rgba(255, 255, 255, 0.877);
  border:none;
  border-radius:5px;
  background-color: transparent;
  font-weight: thin;
  margin: 0;
}

.delete-last-btn {
  z-index:1;
  position:absolute;
  right:0;
  width:fit-content;
  padding:5px 4px 30px 4px;
  font-size: 2rem;
  /* color:rgba(196, 12, 12, 0.473); */
  color:rgba(255, 255, 255, 0.877);
  border:none;
  border-radius:5px;
  background-color: transparent;
  font-weight: thin;
  margin: 0;
}
.delete-btn:hover {
  cursor: pointer;
  color:rgb(240, 106, 106);
}


#filter {
  margin: 0 auto 0 3rem;
  padding:1.3rem;
  position: sticky;
  top: 0px;
}

ul{
  margin-right: 0rem;
  margin-left:auto;
}

#workout-content{
  margin-top:2rem;
}

#filter-submit button{
  margin: auto;
  width:9rem;
  border:1px solid #008f30d2;
  color: #008f30d2;
}

#filter-submit button:hover{
  background-color: #008f30d2;
  color: white;
}

.bulk-stat-row {
  margin-bottom: 0.5rem;
}
.resistanceTitleText,
.cardioTitleText,
.summaryTitleText {
  font-size: 1.3rem;;
  padding: 0.2rem;
}

.workoutJumbotron  {
  margin:0 0 0.7rem 0;
  text-align:center;
  padding:0.2rem
}

.resistanceTitleText,
.cardioTitleText{
  margin:0;
}
hr {
  margin-bottom: 0.7rem;
  color: rgb(177, 177, 177)
}
.summaryTitleText {
  /* color: #e60909d2; */
  color: #008f30d2;
  background-color: white;
}

.resistanceTitleText,
.cardioTitleText{
  background-color: rgb(245, 245, 245);
}
.exercise-summary-text{
  font-size: 1.2rem;
  padding-left: 2rem;
}
.workout-summary-text{
  /* color: #e60909d2; */
  color: #008f30d2;
  font-size: 1.2rem;
  padding-left: 2rem;
  z-index: 1;
}

#clear-all-filters button{
  width:9rem;
  margin: auto;
  color: rgb(253, 98, 98);
  border:rgb(253, 98, 98) solid 1px;
}

#clear-all-filters button:hover {
  margin: auto;
  background-color: rgb(253, 98, 98); 
  color: white;;
}



.sliderValue {
  width:3rem;
  margin: 0.3rem auto
}

#slider {
  margin-bottom: 0.3rem !important
}


#distance-finish,
#distance-start  {
  margin: 0.3rem auto
}

.create-button-jumbotron {
  background-color: #fff;
  display:flex;
  justify-content:center;
  margin:auto 2.5rem 0.5rem 2.5rem;
}

#new-workout-btn {
  width: 61.8%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#previous-workout-card {
  width: 100%
}

#prev-workout-header {
  margin: 1rem auto ;
  font-size: 2.1rem;
  color: #ffffff;
}

#continue-btn {
  width:62%;
}

#canvas {
  padding-right: 2rem;
  border-right: 1.5px solid rgba(0,0,0,.1); 
  margin-left: 1rem;
  margin-bottom: 2rem;
}

#canvas2 {
  padding-left: 0;
  padding-right: 2.3rem;
  margin-left: 0.5rem;
  margin-bottom: 2rem;
}

#canvas3 {

  bottom: 10px;
  max-width: 70%;
  margin: 0 auto
}

#hr1 {
  display: none
}

hr {
  margin-bottom:2rem;
}

.fa-exclamation-circle {
  color: rgb(255, 145, 0)
}

.modal-footer :hover {
  background-color: rgb(236, 236, 236);
}

body.modal-open {
  overflow: overlay !important;
} 


@keyframes toast {
  50% {
    opacity: 1;
    right: 10px;
  }
  100% {
    opacity: 0;
    right: -320px;
  }
}

@media only screen and (max-width: 345px) {
  .navbar-toggler {
   display: inline;
  }
}


@media only screen and (max-width: 402px) {
  #continue-btn a{
    padding: 0.7rem;
  }
  #prev-workout-header {
    font-size: 1.5rem;
    
  }
}

@media only screen and (max-width: 767px) {
  .card-header {
    text-align: center;
  }
  #prev-workout-header {
    font-size: 1.7rem;
    margin-left: 10px;
  }

  #new-workout-btn {
    font-size: 1.2rem;
  }
}
/* when the menu toggle appears */
@media only screen and (max-width: 989px) {
    .navbar-toggler {
      display: inline;
      margin-right: 17px;
      }
    .navbar-nav{
        margin: 0 auto;
        width:100%
    }
    ul{
      width:100vw;
    }
    li {
      text-align:center;
      width:100vw;
    }
    li a{
      text-align:center;
      position: relative;
      width: 100%;
      margin-right:auto;
    }
    .nav-item{
      text-align:center;
      width:100vw;
      margin: 0 auto;
    }
    .current-page {
      color: #f2711c;
      border-bottom: none;
    }
    #filter {
      margin: 0 calc(1rem + 17px) 0 1rem;
      padding:1.3rem;
      position: sticky;
      top: 0px;
    }
    #workouts-container {
      margin: 0;
      padding:0
    }
    #canvas {
      padding-right: 2rem;
      border-right: none;
      margin-left: 1rem;
    }
    #canvas2 {
      padding-left: 0;
      padding-right: 2.3rem;
      margin-left: 0.5rem;
    }
    #canvas3 {
      max-width: 90%;
      margin:auto
    }
    #hr1 {
      display: block
    }
    .wrapper {
      padding: 0 calc(1rem + 13px) 0 10px;
    }
}

@media only screen and (max-width: 1250px) {

  #continue-btn {
    margin-right: 1rem;
  }
  
}